/* Visual Styles */

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.tabs>input,
.tabs section>div {
    display: none;
}

#tab1:checked~section .tab1,
#tab2:checked~section .tab2,
#tab3:checked~section .tab3,
#tab4:checked~section .tab4,
#tab5:checked~section .tab5 {
    display: flex;
}

#tab1:checked~nav .tab1,
#tab2:checked~nav .tab2,
#tab3:checked~nav .tab3,
#tab4:checked~nav .tab4,
#tab5:checked~nav .tab5 {
    label {
        background: white;
        color: #111;
        position: relative;
        box-shadow: 2px 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

        &:after {
            content: '';
            display: block;
            position: absolute;
            height: 2px;
            width: 100%;
            background: #fff;
            left: 0;
            top: -2px;
            
        }
    }
}

body {
    background: #f5f5f5;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
    font-weight: 100;
    font-size: 60px;
    color: #e74c3c;
}

.tabs {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;

    &__section {
        width: 100%;
        text-align: center;
        position: relative;
        line-height: 1.5em;
        letter-spacing: 0.3px;
        justify-content: center;
        height: 300px;
        flex-wrap: wrap;
        flex-direction: column;
        color: #444;
        box-shadow: 2px 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        border: 1px solid #ddd;
        border-radius: 3px;
        background: #fff;
        align-items: center;

        

        .data {
            letter-spacing: 1px;
            color: #34495e;
            font-weight: bold;
            font-size: 1.5em;
            text-transform: capitalize;
            padding: .5rem 0;
            
        }

        span {
            display: inline-block;
            width: 100%;
        }

        img {
            border-radius: 50%;
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            margin-bottom: 1rem;
        }
    }

    &__navigation {

        &-list {
        
        list-style: none;
        margin: 0;
        padding: 0;

            &-item {
                
                label {
                    
                    background: #ddd;
                    border-top: 0;
                    border: 1px solid #ddd;
                    box-shadow: 2px 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
                    color: #444;
                    cursor: pointer;
                    float: left;
                    padding: 15px 25px;

                    &:hover {
                        background: #ccc;
                    }

                    &:active {
                        background: #fff;
                    }
                }

                &:not(:last-child) label {
                    border-right-width: 0;
                }
            }
        }
    }

    section {
        clear: both;
    }
}

